@import "../styles/colours.scss";

.App {
	text-align: center;
	/* background-color: #282c34; */
}

.App-logo {
	height: 150px;
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	margin-top: 5vh;
}

.App-body {
	/* background-color: #282c34; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: black;
}

.Links {
	margin-top: 10vh;
}
